# File di sistema
.DS_Store
Thumbs.db
desktop.ini

# File temporanei o di backup
*.log
*.tmp
*.swp
*.bak
*.old

# Cartelle di ambiente o build
node_modules/
venv/
logs/
logs2/
img/
env/
build/
dist/
__pycache__/
*.egg-info/

# File di configurazione personali o segreti
.env
*.env
*.secret
*.key
*.pem
*.pth
*.pkl
*.csv
*.npz

# File di editor o IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Output o cache
*.pyc
*.pyo
.cache/
.ipynb_checkpoints/

Model/preprocessed_data.json
Model/preprocessed_data_macro_balanced.json
Model/preprocessed_data_macro.json
Model/metrics2.json
Model/metrics3.json